In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [2]:
avalanche_df = pd.read_csv('data/avalanche.csv')

In [3]:
station_df = pd.read_csv('Data\Station Inventory EN.csv')

In [4]:
avalanche_df.shape

(2450, 3)

In [5]:
station_df.shape

(8775, 19)

In [6]:
avalanche_df.head()

   Unnamed: 0                    location                   date_occured
0           0  59.713938° N 135.095702° W  Thursday, May 27, 2021, 14:00
1           1  51.171303° N 116.051255° W  Saturday, May 22, 2021, 09:00
2           2  50.427560° N 122.473110° W    Sunday, May 16, 2021, 11:00
3           3  51.394930° N 116.265450° W  Saturday, May 15, 2021, 12:00
4           4  51.395059° N 116.257463° W    Friday, May 14, 2021, 12:30

In [7]:
station_df.head()

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
0,ACTIVE PASS,BRITISH COLUMBIA,1010066,14,NaN,NaN,48.87,-123.28,485200000,-1231700000,4.0,1984,1996,NaN,NaN,1984.0,1996.0,1984.0,1996.0
1,ALBERT HEAD,BRITISH COLUMBIA,1010235,15,NaN,NaN,48.40,-123.48,482400000,-1232900000,17.0,1971,1995,NaN,NaN,1971.0,1995.0,1971.0,1995.0
2,BAMBERTON OCEAN CEMENT,BRITISH COLUMBIA,1010595,16,NaN,NaN,48.58,-123.52,483500000,-1233100000,85.3,1961,1980,NaN,NaN,1961.0,1980.0,1961.0,1980.0
3,BEAR CREEK,BRITISH COLUMBIA,1010720,17,NaN,NaN,48.50,-124.00,483000000,-1240000000,350.5,1910,1971,NaN,NaN,1910.0,1971.0,1910.0,1971.0
4,BEAVER LAKE,BRITISH COLUMBIA,1010774,18,NaN,NaN,48.50,-123.35,483000000,-1232100000,61.0,1894,1952,NaN,NaN,1894.0,1952.0,1894.0,1952.0

In [8]:
station_2016_df = station_df[station_df['Last Year'] >= 2020]

In [9]:
station_2016_df

,Name,Province,Climate ID,Station ID,WMO ID,TC ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,Elevation (m),First Year,Last Year,HLY First Year,HLY Last Year,DLY First Year,DLY Last Year,MLY First Year,MLY Last Year
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,NaN,NaN,48.94,-123.74,485606080,-1234430000,75.00,1919,2021,NaN,NaN,1919.0,2021.0,1919.0,2007.0
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,NaN,NaN,48.83,-124.05,484946000,-1240308000,171.00,1960,2021,NaN,NaN,1960.0,2021.0,1960.0,2007.0
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,71031.0,WDR,48.42,-123.23,482528590,-1231332519,18.93,1997,2021,1997.0,2021.0,1997.0,2021.0,1998.0,2005.0
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,71798.0,WPF,48.43,-123.44,482555100,-1232621600,3.00,1957,2021,1994.0,2021.0,1957.0,2021.0,1957.0,2005.0
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,NaN,NaN,48.99,-123.57,485906030,-1233424020,6.00,1975,2021,NaN,NaN,1975.0,2021.0,1975.0,2007.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8748,NAIN A,NEWFOUNDLAND,8502801,53507,71902.0,YDP,56.55,-61.68,563302000,-614056000,6.40,2015,2021,2015.0,2021.0,2015.0,2018.0,NaN,NaN
8749,NAIN A,NEWFOUNDLAND,8502810,53502,NaN,YDP,56.55,-61.68,563302000,-614056000,6.40,2015,2021,2015.0,2021.0,2018.0,2021.0,NaN,NaN
8760,SAGLEK,NEWFOUNDLAND,8503249,6797,71335.0,WZZ,58.33,-62.59,582000000,-623508000,516.00,1989,2021,1989.0,2021.0,1989.0,2021.0,1989.0,1993.0
8768,WABUSH A,NEWFOUNDLAND,8504176,51057,NaN,YWK,52.92,-66.86,525522000,-665153000,551.40,2013,2021,2013.0,2021.0,2013.0,2014.0,NaN,NaN
8769,WABUSH A,NEWFOUNDLAND,8504177,52541,71825.0,YWK,52.92,-66.86,525522000,-665153000,551.40,2014,2021,2014.0,2021.0,2014.0,2021.0,NaN,NaN

In [10]:
avalanche_df.drop(columns=avalanche_df.columns[0], axis=1, inplace=True)

In [11]:
locations = avalanche_df['location'].str.split(expand=True)

In [12]:
avalanche_df['latitude'] = locations[0]
avalanche_df['longitude'] = locations[2]
avalanche_df.drop('location', axis = 1, inplace=True)

In [13]:
columns_to_drop = ['WMO ID','TC ID','Elevation (m)','HLY First Year','HLY Last Year','DLY First Year','DLY Last Year','MLY First Year','MLY Last Year']
station_2016_df.drop(columns_to_drop, axis = 1, inplace = True)

C:\Users\SeanS\Anaconda3\envs\capstone\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
station_2016_df

,Name,Province,Climate ID,Station ID,Latitude (Decimal Degrees),Longitude (Decimal Degrees),Latitude,Longitude,First Year,Last Year
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,48.94,-123.74,485606080,-1234430000,1919,2021
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,48.83,-124.05,484946000,-1240308000,1960,2021
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,48.42,-123.23,482528590,-1231332519,1997,2021
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,48.43,-123.44,482555100,-1232621600,1957,2021
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,48.99,-123.57,485906030,-1233424020,1975,2021
...,...,...,...,...,...,...,...,...,...,...
8748,NAIN A,NEWFOUNDLAND,8502801,53507,56.55,-61.68,563302000,-614056000,2015,2021
8749,NAIN A,NEWFOUNDLAND,8502810,53502,56.55,-61.68,563302000,-614056000,2015,2021
8760,SAGLEK,NEWFOUNDLAND,8503249,6797,58.33,-62.59,582000000,-623508000,1989,2021
8768,WABUSH A,NEWFOUNDLAND,8504176,51057,52.92,-66.86,525522000,-665153000,2013,2021
8769,WABUSH A,NEWFOUNDLAND,8504177,52541,52.92,-66.86,525522000,-665153000,2014,2021

In [15]:
avalanche_df.head()

                    date_occured    latitude    longitude
0  Thursday, May 27, 2021, 14:00  59.713938°  135.095702°
1  Saturday, May 22, 2021, 09:00  51.171303°  116.051255°
2    Sunday, May 16, 2021, 11:00  50.427560°  122.473110°
3  Saturday, May 15, 2021, 12:00  51.394930°  116.265450°
4    Friday, May 14, 2021, 12:30  51.395059°  116.257463°

In [16]:
avalanche_df['latitude'] = avalanche_df['latitude'].map(lambda x: str(x)[:-1])

In [17]:
avalanche_df['longitude'] = avalanche_df['longitude'].map(lambda x: str(x)[:-1])

In [18]:
dates = avalanche_df['date_occured'].str.split(expand=True)

In [19]:
avalanche_df['weekday'] = dates[0].map(lambda x: str(x)[:-1])
avalanche_df['month'] = dates[1]
avalanche_df['day'] = dates[2].map(lambda x: str(x)[:-1])
avalanche_df['year'] = dates[3].map(lambda x: str(x)[:-1])
avalanche_df['time'] = dates[4]
avalanche_df.drop('date_occured', axis = 1, inplace = True)

In [20]:
gdf_avalanche = gpd.GeoDataFrame(
    avalanche_df, geometry=gpd.points_from_xy(avalanche_df.longitude, avalanche_df.latitude))

In [21]:
station_2016_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1525 entries, 12 to 8769
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         1525 non-null   object
 1   Province                     1525 non-null   object
 2   Climate ID                   1525 non-null   object
 3   Station ID                   1525 non-null   int64
 4   Latitude (Decimal Degrees)   1525 non-null   float64
 5   Longitude (Decimal Degrees)  1525 non-null   float64
 6   Latitude                     1525 non-null   int64
 7   Longitude                    1525 non-null   int64
 8   First Year                   1525 non-null   int64
 9   Last Year                    1525 non-null   int64
dtypes: float64(2), int64(5), object(3)
memory usage: 131.1+ KB

In [22]:
station_2016_df.rename(columns = {'Latitude (Decimal Degrees)':'latitude', 
                                  'Longitude (Decimal Degrees)':'longitude'}, inplace = True)

C:\Users\SeanS\Anaconda3\envs\capstone\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [23]:
station_2016_df['longitude'] = station_2016_df['longitude'].map(lambda x: str(x)[1:])

<ipython-input-23-1158398e3691>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  station_2016_df['longitude'] = station_2016_df['longitude'].map(lambda x: str(x)[1:])

In [24]:
gdf_station = gpd.GeoDataFrame(
    station_2016_df, geometry=gpd.points_from_xy(station_2016_df.longitude, station_2016_df.latitude))

In [25]:
gdf_station

,Name,Province,Climate ID,Station ID,latitude,longitude,Latitude,Longitude,First Year,Last Year,geometry
12,CHEMAINUS,BRITISH COLUMBIA,1011500,26,48.94,123.74,485606080,-1234430000,1919,2021,POINT (123.74000 48.94000)
26,LAKE COWICHAN,BRITISH COLUMBIA,1012055,40,48.83,124.05,484946000,-1240308000,1960,2021,POINT (124.05000 48.83000)
28,DISCOVERY ISLAND,BRITISH COLUMBIA,1012475,27226,48.42,123.23,482528590,-1231332519,1997,2021,POINT (123.23000 48.42000)
39,ESQUIMALT HARBOUR,BRITISH COLUMBIA,1012710,52,48.43,123.44,482555100,-1232621600,1957,2021,POINT (123.44000 48.43000)
44,GALIANO NORTH,BRITISH COLUMBIA,10130MN,55,48.99,123.57,485906030,-1233424020,1975,2021,POINT (123.57000 48.99000)
...,...,...,...,...,...,...,...,...,...,...,...
8748,NAIN A,NEWFOUNDLAND,8502801,53507,56.55,61.68,563302000,-614056000,2015,2021,POINT (61.68000 56.55000)
8749,NAIN A,NEWFOUNDLAND,8502810,53502,56.55,61.68,563302000,-614056000,2015,2021,POINT (61.68000 56.55000)
8760,SAGLEK,NEWFOUNDLAND,8503249,6797,58.33,62.59,582000000,-623508000,1989,2021,POINT (62.59000 58.33000)
8768,WABUSH A,NEWFOUNDLAND,8504176,51057,52.92,66.86,525522000,-665153000,2013,2021,POINT (66.86000 52.92000)
8769,WABUSH A,NEWFOUNDLAND,8504177,52541,52.92,66.86,525522000,-665153000,2014,2021,POINT (66.86000 52.92000)

In [26]:
gdf_avalanche.head()

,latitude,longitude,weekday,month,day,year,time,geometry
0,59.713938,135.095702,Thursday,May,27,2021,14:00,POINT (135.09570 59.71394)
1,51.171303,116.051255,Saturday,May,22,2021,09:00,POINT (116.05125 51.17130)
2,50.427560,122.473110,Sunday,May,16,2021,11:00,POINT (122.47311 50.42756)
3,51.394930,116.265450,Saturday,May,15,2021,12:00,POINT (116.26545 51.39493)
4,51.395059,116.257463,Friday,May,14,2021,12:30,POINT (116.25746 51.39506)

In [27]:
for i in gdf_avalanche['geometry']:
    gdf_avalanche['nearest_station'] = min_dist(i, gdf_station)
    print(i, end='\r')

NameError: name 'min_dist' is not defined

In [ ]:
gdf_station[gdf_station['Station ID'] == 50089]

In [ ]:
pts = gdf_station.geometry
pts =  pts.unary_union # convert to Shapely MultiPoint geometry
pt = gdf_avalanche.iloc[0:1,:].geometry
pt = pt.unary_union
from shapely.ops import nearest_points
[o.wkt for o in nearest_points(pt, pts)]

In [28]:
import geopandas as gpd
import numpy as np
import pandas as pd

from scipy.spatial import cKDTree
from shapely.geometry import Point

def ckdnearest(gdA, gdB):

    nA = np.array(list(gdA.geometry.apply(lambda x: (x.x, x.y))))
    nB = np.array(list(gdB.geometry.apply(lambda x: (x.x, x.y))))
    btree = cKDTree(nB)
    dist, idx = btree.query(nA, k=1)
    gdB_nearest = gdB.iloc[idx].drop(columns="geometry").reset_index(drop=True)
    gdf = pd.concat(
        [
            gdA.reset_index(drop=True),
            gdB_nearest,
            pd.Series(dist, name='dist')
        ], 
        axis=1)

    return gdf

ckdnearest(gdf_avalanche, gdf_station)

,latitude,longitude,weekday,month,day,year,time,geometry,Name,Province,Climate ID,Station ID,latitude,longitude,Latitude,Longitude,First Year,Last Year,dist
0,59.713938,135.095702,Thursday,May,27,2021,14:00,POINT (135.09570 59.71394),WHITEHORSE A,YUKON TERRITORY,2101303,50842,60.71,135.07,604234000,-1350402000,2012,2021,0.996394
1,51.171303,116.051255,Saturday,May,22,2021,09:00,POINT (116.05125 51.17130),YOHO PARK,BRITISH COLUMBIA,11790J1,6844,51.44,116.34,512634400,-1162040400,1992,2021,0.394426
2,50.427560,122.473110,Sunday,May,16,2021,11:00,POINT (122.47311 50.42756),PEMBERTON AIRPORT CS,BRITISH COLUMBIA,1086082,536,50.31,122.73,501820326,-1224402720,1984,2021,0.282512
3,51.394930,116.265450,Saturday,May,15,2021,12:00,POINT (116.26545 51.39493),YOHO PARK,BRITISH COLUMBIA,11790J1,6844,51.44,116.34,512634400,-1162040400,1992,2021,0.087115
4,51.395059,116.257463,Friday,May,14,2021,12:30,POINT (116.25746 51.39506),YOHO PARK,BRITISH COLUMBIA,11790J1,6844,51.44,116.34,512634400,-1162040400,1992,2021,0.093979
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2445,51.285000,117.570000,Thursday,November,3,2016,21:06,POINT (117.57000 51.28500),GOLDEN A,BRITISH COLUMBIA,1173209,52439,51.30,116.98,511757000,-1165856000,2014,2021,0.590191
2446,51.346000,117.532000,Friday,October,28,2016,12:00,POINT (117.53200 51.34600),GOLDEN A,BRITISH COLUMBIA,1173209,52439,51.30,116.98,511757000,-1165856000,2014,2021,0.553913
2447,50.917750,117.997970,Saturday,September,24,2016,13:32,POINT (117.99797 50.91775),REVELSTOKE AIRPORT AUTO,BRITISH COLUMBIA,1176755,49548,50.96,118.18,505729600,-1181034600,2011,2021,0.186869
2448,50.805930,117.922780,Saturday,September,24,2016,11:34,POINT (117.92278 50.80593),REVELSTOKE AIRPORT AUTO,BRITISH COLUMBIA,1176755,49548,50.96,118.18,505729600,-1181034600,2011,2021,0.299833
2449,53.500710,119.992500,Thursday,April,28,2016,15:59,POINT (119.99250 53.50071),BLUE RIVER A,BRITISH COLUMBIA,1160899,1237,52.13,119.29,520744500,-1191722300,1969,2021,1.540244

In [29]:
final_df = ckdnearest(gdf_avalanche, gdf_station)

In [35]:
final_df.drop(final_df[10], axis = 1, inplace = True)

KeyError: 10

In [31]:
final_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 2450 entries, 0 to 2449
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitude    2450 non-null   object
 1   longitude   2450 non-null   object
 2   weekday     2450 non-null   object
 3   month       2450 non-null   object
 4   day         2450 non-null   object
 5   year        2450 non-null   object
 6   time        2437 non-null   object
 7   geometry    2450 non-null   geometry
 8   Name        2450 non-null   object
 9   Province    2450 non-null   object
 10  Climate ID  2450 non-null   object
 11  Station ID  2450 non-null   int64
 12  latitude    2450 non-null   float64
 13  longitude   2450 non-null   object
 14  Latitude    2450 non-null   int64
 15  Longitude   2450 non-null   int64
 16  First Year  2450 non-null   int64
 17  Last Year   2450 non-null   int64
 18  dist        2450 non-null   float64
dtypes: float64(2), geometry(1), int64(5), object(11)
memory usage: 363.8+ KB

In [ ]:
gdf_station

In [33]:
cols_to_drop = ['Climate ID','First Year','Longitude','Latitude','geometry']
final_df.drop(cols_to_drop, axis = 1, inplace = True)

In [ ]:
gdf_avalanche.iloc[0:1,:].geometry.geom_type

In [37]:
ava_df = final_df.loc[:,~final_df.columns.duplicated()]

In [38]:
ava_df.head()

,latitude,longitude,weekday,month,day,year,time,Name,Province,Station ID,Last Year,dist
0,59.713938,135.095702,Thursday,May,27,2021,14:00,WHITEHORSE A,YUKON TERRITORY,50842,2021,0.996394
1,51.171303,116.051255,Saturday,May,22,2021,09:00,YOHO PARK,BRITISH COLUMBIA,6844,2021,0.394426
2,50.427560,122.473110,Sunday,May,16,2021,11:00,PEMBERTON AIRPORT CS,BRITISH COLUMBIA,536,2021,0.282512
3,51.394930,116.265450,Saturday,May,15,2021,12:00,YOHO PARK,BRITISH COLUMBIA,6844,2021,0.087115
4,51.395059,116.257463,Friday,May,14,2021,12:30,YOHO PARK,BRITISH COLUMBIA,6844,2021,0.093979

In [47]:
ava_df['Station ID'].to_csv('output.csv')